<h1>Listing profiles</h1>

<table>
  <tr>
    <th>User</th>
    <th>Company</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Position</th>
    <th>Telephone</th>
    <th>Mobile</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.user_id %></td>
    <td><%= profile.company_id %></td>
    <td><%= profile.name %></td>
    <td><%= profile.surname %></td>
    <td><%= profile.position %></td>
    <td><%= profile.telephone %></td>
    <td><%= profile.mobile %></td>
    <td><%= profile.email %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
