<h1>Listing new_events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cached slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @new_events.each do |new_event| %>
  <tr>
    <td><%= new_event.name %></td>
    <td><%= new_event.cached_slug %></td>
    <td><%= link_to 'Show', new_event %></td>
    <td><%= link_to 'Edit', edit_new_event_path(new_event) %></td>
    <td><%= link_to 'Destroy', new_event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New New event', new_new_event_path %>
