<h1>Listing announces_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cache slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @announces_types.each do |announces_type| %>
  <tr>
    <td><%= announces_type.name %></td>
    <td><%= announces_type.cache_slug %></td>
    <td><%= link_to 'Show', announces_type %></td>
    <td><%= link_to 'Edit', edit_announces_type_path(announces_type) %></td>
    <td><%= link_to 'Destroy', announces_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Announces type', new_announces_type_path %>
