<h1>Listing newsletters_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cache slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @newsletters_types.each do |newsletters_type| %>
  <tr>
    <td><%= newsletters_type.name %></td>
    <td><%= newsletters_type.cache_slug %></td>
    <td><%= link_to 'Show', newsletters_type %></td>
    <td><%= link_to 'Edit', edit_newsletters_type_path(newsletters_type) %></td>
    <td><%= link_to 'Destroy', newsletters_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Newsletters type', new_newsletters_type_path %>
