<h1>Listing new_events_translations</h1>

<table>
  <tr>
    <th>New event</th>
    <th>Language</th>
    <th>Title</th>
    <th>Content</th>
    <th>Publish</th>
    <th>Start on</th>
    <th>Stop on</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @new_events_translations.each do |new_events_translation| %>
  <tr>
    <td><%= new_events_translation.new_event_id %></td>
    <td><%= new_events_translation.language_id %></td>
    <td><%= new_events_translation.title %></td>
    <td><%= new_events_translation.content %></td>
    <td><%= new_events_translation.publish %></td>
    <td><%= new_events_translation.start_on %></td>
    <td><%= new_events_translation.stop_on %></td>
    <td><%= new_events_translation.user_id %></td>
    <td><%= link_to 'Show', new_events_translation %></td>
    <td><%= link_to 'Edit', edit_new_events_translation_path(new_events_translation) %></td>
    <td><%= link_to 'Destroy', new_events_translation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New New events translation', new_new_events_translation_path %>
