<p id="notice"><%= notice %></p>

<p>
  <b>New event:</b>
  <%= @new_events_translation.new_event_id %>
</p>

<p>
  <b>Language:</b>
  <%= @new_events_translation.language_id %>
</p>

<p>
  <b>Title:</b>
  <%= @new_events_translation.title %>
</p>

<p>
  <b>Content:</b>
  <%= @new_events_translation.content %>
</p>

<p>
  <b>Publish:</b>
  <%= @new_events_translation.publish %>
</p>

<p>
  <b>Start on:</b>
  <%= @new_events_translation.start_on %>
</p>

<p>
  <b>Stop on:</b>
  <%= @new_events_translation.stop_on %>
</p>

<p>
  <b>User:</b>
  <%= @new_events_translation.user_id %>
</p>


<%= link_to 'Edit', edit_new_events_translation_path(@new_events_translation) %> |
<%= link_to 'Back', new_events_translations_path %>
