 <div class="fields">
	<%=f.label  :caption_en%>
	<%=f.text_field :caption,:style=>"width:400px"%>	
	<%=f.label  :image%>
	<%=f.file_field :attachment%></br>
	<%=f.label  :caption_th%>
	<%=f.text_field :caption_en,:style=>"width:400px"%>	</br>
	<%= link_to_remove_fields "remove", f %>
</div>
