<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_reports_translations_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_reports_translation_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> ReportsTranslations</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th>
            <%= t("activerecord.attributes.admin_reports_translation.report_id", :default => t("activerecord.labels.report_id", :default => "Report_id")) %>
          </th>
          <th>
            <%= t("activerecord.attributes.admin_reports_translation.reports_type_id", :default => t("activerecord.labels.reports_type_id", :default => "Report_Type_id")) %>
          </th>          
         <th>
            <%= t("activerecord.attributes.admin_reports_translation.title", :default => t("activerecord.labels.title", :default => "Title")) %>
          </th>  
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @reports_translations.each do |reports_translation| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= reports_translation.id %>-<%= Report.find(reports_translation.id).name %>
          </td>
          <td>
            <%= reports_translation.report_id %>
          </td>          
          <td>
            <%= reports_translation.reports_type_id %>-<%= ReportsType.find(reports_translation.reports_type_id).name_th %>
          </td>           

          <td>
            <%= reports_translation.title %>
          </td>
                    <td>
            <%= reports_translation.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_reports_translation_path(reports_translation) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_reports_translation_path(reports_translation) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_reports_translation_path(reports_translation), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
        <%= will_paginate @reports_translations  %>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
