<%=@map.div(:width => 630, :height => 280).html_safe %>
<%= javascript_tag do %>


			  var map = new GMap2(document.getElementById("map_div"));
        map.setCenter(new GLatLng(13.83333,100.522413), 13);
        map.setUIToDefault();
        <%@stations = StationsTranslation.all%>
        	<%@stations.each_with_index do |station,index| %>
           var latlng = new GLatLng(<%=station.latitude%>,<%=station.longtitude%>);
           
        	  var icon = new GIcon();
        	  icon.image = './images/purple_marker.png';
        	  icon.iconSize = new GSize(32, 32);
        	  icon.iconAnchor = new GPoint(16, 16);
        	  icon.infoWindowAnchor = new GPoint(25, 7);

        	  opts = {
        	  		'icon': icon,
        	  		'clickable': true,
        	  		'labelText': '<span style="color:#ffffff;font-weight:bold;"><%=station.code%></span>',
        	  		'labelOffset': new GSize(-12, -9)
        	  		};

           var marker = new LabeledMarker(latlng,opts);
           GEvent.addListener(marker, "click", function() {
           		 this.openInfoWindowHtml('<p class="badge-small"><%=station.code%></p><b><%=station.title%>&nbsp;&nbsp;station</b><br/>location:<%=station.latitude%>,<%=station.longtitude%>');
            });

           map.addOverlay(marker);   

        


        	<%end%>
<% end %>
