<ul>
    	<%if session[:lang]=="en" %>
     	 <h2>Monthly Annoucement</h2>
      <%end%>
      <%if session[:lang]=="th" %>
     	 <h2>ประกาศประจำเดือน</h2>
      <%end%> 
		<%@allannounces_month.each do |month, announces| %>
		   <h3 style="margin-top:10px;background:#9BCAE8;">
 	     <%if session[:lang]=="en" %>
   	    <h3><%= month.strftime('%B') %></h3>
       <%end%>
       <%if session[:lang]=="th" %>
     	    <h3><%= convertmonth(month.strftime('%B')) %></h3>
       <%end%>

			<% for announce in announces %>
			<li class=<%=cycle('even', 'odd')%>
				 <a href="/announce/<%=announce.id%>"><%= announce.title %> </a><br/>
				<i style="float:right;">  <%= announce.start_on.to_date.to_s(:long) %></i>
			</li>
	 <% end %>
	<% end %>

</ul>
