<div id="announcebox">
    <ul>
      <%@announces.each do |announce|%>
       <li>
        <h3 ><%=announce.title%></h3>
         <div class="group">
               <div class="envelope">
                 <h4>Detail</h4>
                 <div class="">
                 <%=announce.content.html_safe%> 
                 </div>
                 <div class="">
                 start:<%=announce.start_on%>
                 stop:<%=announce.stop_on%>
                 </div>
              </div>
        <%= @map.div(:width => 630, :height => 370).html_safe %>    
         </div>     
      </li> 
      <%end%>
  </ui>
</div>
