<h2 style="line-height:1.5em;"><%=@category.name_th if session[:lang]=="th" %> <%=@category.name_en if session[:lang]=="en" %></h2>
<% if @announces  %>
	
<div id="announcebox">
    <ul>
      <%@announces.each do |announce|%>
        <% unless announce.nil? %>
			   <li>
                   <%announce.order("start_on DESC").each do  |ann|%>
						<h3> <span class="badge" style="float:left;font-size:12px;"> <%=ann.start_on  %> </span>
						<%= image_tag("new.gif")  if (Date.today - ann.start_on) < 15  %>
						<a href="/announce/<%=ann.id%>"> <%=ann.title%> </a>  </h3>

						 <div class="group">
							   <div class="envelope">
								 <div class="left clear">
								 <%=ann.content.html_safe%> 
								 <h4><%= "For more information, please contact: 0 2965 6000 " if session[:lang]=="en" %></h4>
								 <h4><%= "ต้องการข้อมูลเพิ่มเติม กรุณาติดต่อ: 0 2965 6000 " if session[:lang]=="th" %></h4>      
								 </div>
							  </div> 
						 </div> 
                   <%end%>
				     
			  </li> 
		 <%end%>
      <%end%>
  </ui>
</div>


<%else%>
<p> No Infomation in this Category</p>
<%end%>

     
