<h2 style="line-height:1.5em;"><%=@reportstype.name_th if session[:lang]=="th" %> <%=@reportstype.name_en if session[:lang]=="en" %></h2>
<% if @reports  %>
	
<div id="announcebox">
    <ul>
      <%@reports.each do |report|%>
        <% unless report.nil? %>
			   <li>
                   <%report.order("created_at DESC").each do  |ann|%>
						<h3 class="blockReplace" style="padding-top:10px;"> 

						<a href="/showreport/<%=ann.id%>" style="color:#FFFFFF;text-decoration:none;text-align: top;"><span style="text-align:top;"><%=ann.title%> </span></a>
						</h3>

						 <div class="group">
							   <div class="envelope">
								 <div class="left clear">
								 <%=ann.content.html_safe%> 
								 <h4><%= "For more information, please contact: 0 2965 6000 " if session[:lang]=="en" %></h4>
								 <h4><%= "ต้องการข้อมูลเพิ่มเติม กรุณาติดต่อ: 0 2965 6000 " if session[:lang]=="th" %></h4>      
								 </div>
							  </div> 
						 </div> 
                   <%end%>
				     
			  </li> 
		 <%end%>
      <%end%>
  </ui>
</div>


<%else%>
<p> No Infomation in this Reports</p>
<%end%>

     
