<div id="announcebox">
    <ul>
      <%@announces.each do |announce|%>
       <li>
        <h3 class="blockReplace" style="padding-top:10px;"><%=announce.title%></h3>
         <div class="group">
               <div class="envelope">
                 <h4>Detail</h4>
                 <div class="left">
                 <%=announce.content.html_safe%> 
                 <h4>For more information, please contact: 0 2965 6000</h4>
                 </div>
                <!-- <div class="right">
                 From:<%=announce.start_on%>
                 To:<%=announce.stop_on%>
                 </div>-->
              </div>
       
        
         </div>     
          <%= @map.div(:width => 630, :height => 665).html_safe %>  
      </li> 
      <%end%>
  </ui>
</div>
