<div id="station">
    <ul>
       <li>
      <h2><%=@station.title%></h2>
         <div style="position:relative;">
            <%=@station.content.html_safe%> <br/>
            <p>Latitude:<%=@station.latitude%></p>
            <p>Longtitude:<%=@station.longtitude%></p>
            <%= @map.div(:width => 525, :height => 300).html_safe %>
      </div>
       </li>
  </ui>
</div>

<div>
test
<% img = @station.content.scan(/<img alt="(.*?)" src="(.*?)"/)[0][1] %>
<img src="<%=img%>" width="120">
</div>
