<div id="station">
    <ul>
       <li>
      <h2><%=@station.title%></h2>
         <div style="position:relative;">
            <%=@station.content.html_safe%> <br/>
            <%= @map.div(:width => 525, :height => 300).html_safe %>
            <small>Latitude:<%=@station.latitude%> | Longtitude:<%=@station.longtitude%></small>
            
      </div>
       </li>
  </ui>
</div>


