<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @news.name %>
</p>

<p>
  <b>Cache slug:</b>
  <%= @news.cache_slug %>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
