<h1>Listing reports_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cache slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reports_types.each do |reports_type| %>
  <tr>
    <td><%= reports_type.name %></td>
    <td><%= reports_type.cache_slug %></td>
    <td><%= link_to 'Show', reports_type %></td>
    <td><%= link_to 'Edit', edit_reports_type_path(reports_type) %></td>
    <td><%= link_to 'Destroy', reports_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reports type', new_reports_type_path %>
