<p id="notice"><%= notice %></p>

<p>
  <b>Name_TH:</b>
  <%= @reports_type.name_th %>
</p>

<p>
  <b>Name_EN:</b>
  <%= @reports_type.name_en%>
</p>

<p>
  <b>Cache slug:</b>
  <%= @reports_type.cache_slug %>
</p>


<%= link_to 'Edit', edit_reports_type_path(@reports_type) %> |
<%= link_to 'Back', reports_types_path %>
