<p id="notice"><%= notice %></p>

<p>
  <b>Report:</b>
  <%= @reports_translation.report_id %>
</p>

<p>
  <b>Reports type:</b>
  <%= @reports_translation.reports_type_id %>
</p>

<p>
  <b>Language:</b>
  <%= @reports_translation.language_id %>
</p>

<p>
  <b>Title:</b>
  <%= @reports_translation.title %>
</p>

<p>
  <b>Content:</b>
  <%= @reports_translation.content %>
</p>

<p>
  <b>Latitude:</b>
  <%= @reports_translation.latitude %>
</p>

<p>
  <b>Longtitude:</b>
  <%= @reports_translation.longtitude %>
</p>

<p>
  <b>Start on:</b>
  <%= @reports_translation.start_on %>
</p>

<p>
  <b>Stop on:</b>
  <%= @reports_translation.stop_on %>
</p>

<p>
  <b>User:</b>
  <%= @reports_translation.user_id %>
</p>

<p>
  <b>Task:</b>
  <%= @reports_translation.task_id %>
</p>

<p>
  <b>Publish:</b>
  <%= @reports_translation.publish %>
</p>

<p>
  <b>Polypoint:</b>
  <%= @reports_translation.polypoint %>
</p>


<%= link_to 'Edit', edit_reports_translation_path(@reports_translation) %> |
<%= link_to 'Back', reports_translations_path %>
