<p id="notice"><%= notice %></p>

<p>
  <b>Task:</b>
  <%= @tasks_translation.task_id %>
</p>

<p>
  <b>Language:</b>
  <%= @tasks_translation.language_id %>
</p>

<p>
  <b>Station:</b>
  <%= @tasks_translation.station_id %>
</p>

<p>
  <b>Title:</b>
  <%= @tasks_translation.title %>
</p>

<p>
  <b>Content:</b>
  <%= @tasks_translation.content %>
</p>

<p>
  <b>Publish:</b>
  <%= @tasks_translation.publish %>
</p>

<p>
  <b>Start on:</b>
  <%= @tasks_translation.start_on %>
</p>

<p>
  <b>Stop on:</b>
  <%= @tasks_translation.stop_on %>
</p>

<p>
  <b>User:</b>
  <%= @tasks_translation.user_id %>
</p>


<%= link_to 'Edit', edit_tasks_translation_path(@tasks_translation) %> |
<%= link_to 'Back', tasks_translations_path %>
