<div id="containerribbon"> <!-- Main Container -->    
<div class="bubble"> <!-- Bubble -->
<%if session[:lang]=="en" %>

<div class="rectangle-t"><h3 style="hight:29px;"><%= image_tag("mrta-hg-ss.png")%>Progress Reports</h3>
<%end%>
<%if session[:lang]=="th" %>
<div class="rectangle-t"><h3 style="hight:29px;"><%= image_tag("mrta-hg-ss.png")%>รายงานความก้าวหน้า</h3>
<%end%>
</div>
<%if session[:lang]=="en" %>
    <div class="info">
      <ul id="menuleft">
      
      <li class='toggle'><%=link_to "All Reports", {:action=>'allreport'}, :remote => true %></a></li> 
      <li class='toggle'><%=link_to "Lastest Reports", {:action=>'lasttestreport'}, :remote => true %></a></li> 
      <li class='toggle'><%=link_to "Monthly Reports", {:action=>'monthlyreport'}, :remote => true %></a></li>      

     </ul>
  </div>
 </div>
</div>

<%end%>
<%if session[:lang]=="th" %>
    <div class="info">
      <ul id="menuleft">
      
      <li class='toggle'><%=link_to "ความก้าวหน้าทั้งหมด", {:action=>'allreport'}, :remote => true %></a></li>            
      <li class='toggle'><%=link_to "ความก้าวหน้าล่าสุด", {:action=>'lasttestreport'}, :remote => true %></a></li>  
      <li class='toggle'><%=link_to "ความก้าวหน้าประจำเดือน", {:action=>'monthlyreport'}, :remote => true %></a></li>      

     </ul>
  </div>
 </div>
</div>

<%end%>
