<div id="containerribbon"> <!-- Main Container -->    
<div class="bubble"> <!-- Bubble -->
<%if session[:lang]=="en" %>

<div class="rectangle-t"><h3 style="hight:29px;"><%= image_tag("mrta-hg-ss.png")%>Events</h3>
<%end%>
<%if session[:lang]=="th" %>
<div class="rectangle-t"><h3 style="hight:29px;"><%= image_tag("mrta-hg-ss.png")%>กิจกรรม</h3>
<%end%>
</div>
<%if session[:lang]=="en" %>
    <div class="info">
      <ul id="menuleft">
      
      <li class='toggle'><%=link_to "All Events", {:action=>'allevent'}, :remote => true %></a></li> 
      <li class='toggle'><%=link_to "Lastest Events", {:action=>'latestevent'}, :remote => true %></a></li> 
      <li class='toggle'><%=link_to "Monthly Events", {:action=>'monthlyevent'}, :remote => true %></a></li>      

     </ul>
  </div>
 </div>
</div>

<%end%>
<%if session[:lang]=="th" %>
    <div class="info">
      <ul id="menuleft">
      
      <li class='toggle'><%=link_to "กิจกรรมทั้งหมด", {:action=>'allevent'}, :remote => true %></a></li>            
      <li class='toggle'><%=link_to "กิจกรรมล่าสุด", {:action=>'latestevent'}, :remote => true %></a></li>  
      <li class='toggle'><%=link_to "กิจกรรมประจำเดือน", {:action=>'monthlyevent'}, :remote => true %></a></li>      

     </ul>
  </div>
 </div>
</div>

<%end%>
