<ol class="formatcol-four">
  <li>
  <div class="group">
    <%= f.label :announce_id, t("activerecord.attributes.announces_translation.announce_id", :default => "Announce"), :class => :label %>
    <%= f.collection_select :announce_id,Announce.all,:id,:name,{:prompt=>"Select Announce"}, {:class => 'text_field',:style=>"width:150px"} %>

  </div>
 </li>
 <li>
 </li>
 <li>
  <div class="group">
    <%= f.label :language_id, t("activerecord.attributes.announces_translation.language_id", :default => "Language"), :class => :label %>
    <%= f.collection_select :language_id,Language.all,:id,:name,{:prompt=>"Select Language"}, {:class => 'text_field',:style=>"width:150px"} %>

  </div>
 </li>
 <li>
   <div class="group">
    <%= f.label :task_id, t("activerecord.attributes.announces_translation.task_id", :default => "Task"), :class => :label %>
    <%= f.collection_select :task_id,Task.all,:id,:name,{:prompt=>"Select Task"}, {:class => 'text_field',:style=>"width:150px"} %>
  </div>
 </li>
</ol>
  <div class="group">
    <%= f.label :title, t("activerecord.attributes.announces_translation.title", :default => "Title"), :class => :label %>
    <%= f.text_field :title, :class => 'text_field' %>

  </div>

  <div class="group">
    <%= f.label :content, t("activerecord.attributes.announces_translation.content", :default => "Content"), :class => :label %>
    <%= f.cktext_area :content, :class => 'text_area' %>

  </div>
  
<ol class="formatcol-three">
  <li>

  </li>
</ol>

<ol class="formatcol-two">
   <li>
     <div class="group">
        <table>
        <tr>
        <td><div id="hand_b" onclick="stopEditing()"/></td>
        <td><div id="placemark_b"  onclick="placeMarker()"/></td>
        <td><div id="line_b"  onclick="startLine()"/></td>
        <td><div id="shape_b"  onclick="startShape()"/></td>
        </tr>
       </table>
      </div>
      <div class="group">
        <%= @map.div(:width => 500, :height => 370).html_safe %>
      </div>
     </li>
  <li>
      <div class="group">
        <%= f.label :latitude, t("activerecord.attributes.announces_translation.latitude", :default => "Latitude"), :class => :label %>
        <%= f.text_field :latitude, :class => 'text_field' %>

      </div>
      <div class="group">
        <%= f.label :longtitude, t("activerecord.attributes.announces_translation.longtitude", :default => "Longtitude"), :class => :label %>
        <%= f.text_field :longtitude, :class => 'text_field' %>
      </div>
      <div class="group">
        <%= f.label :polypoint, t("activerecord.attributes.announces_translation.polypoint", :default => "polypoint"), :class => :label %>
        <%= f.text_area :polypoint, :class => 'text_area' %>
      </div>
  </li>
</ol> 
<ol class="formatcol-three">
  <li>
  <div class="group">
    <%= f.label :start_on, t("activerecord.attributes.announces_translation.start_on", :default => "Start on"), :class => :label %>
    <%= f.text_field :start_on, :class => 'date_select' %>

  </div>
  </li>
  <li>
  <div class="group">
    <%= f.label :stop_on, t("activerecord.attributes.announces_translation.stop_on", :default => "Stop on"), :class => :label %>
    <%= f.text_field :stop_on, :class => 'date_select' %>
  </div>
  </li>
  <li>
  <div class="group">
    <%= f.label :publish, t("activerecord.attributes.announces_translation.publish", :default => "Publish"), :class => :label %>
    <%= f.check_box :publish, :class => 'check_box' %>
  </div>
  </li>
</ol>
  <div class="group">
    <%= f.label :user_id, t("activerecord.attributes.announces_translation.user_id", :default => "User"), :class => :label %>
    <%= f.text_field :user_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>




        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}") + " " + t("web-app-theme.cancel", :default => "Cancel"), admin_announces_translations_path, :class => "button" %> 
</div>
