<p id="notice"><%= notice %></p>

<p>
  <b>Name th:</b>
  <%= @role.name_th %>
</p>

<p>
  <b>Name en:</b>
  <%= @role.name_en %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
