
  <div class="group">
    <%= f.label :name_th, t("activerecord.attributes.category.name_th", :default => "Name th"), :class => :label %>
    <%= f.text_field :name_th, :class => 'text_field' %>

  </div>

  <div class="group">
    <%= f.label :name_en, t("activerecord.attributes.category.name_en", :default => "Name en"), :class => :label %>
    <%= f.text_field :name_en, :class => 'text_field' %>

  </div>
 <div class="group">
   <label class="label">Upload icon</label>
   <%=f.file_field  :icon%> 
 </div>        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}") + " " + t("web-app-theme.cancel", :default => "Cancel"), admin_categories_path, :class => "button" %> 
</div>
