<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @news_type.name %>
</p>

<p>
  <b>Cache slug:</b>
  <%= @news_type.cache_slug %>
</p>


<%= link_to 'Edit', edit_news_type_path(@news_type) %> |
<%= link_to 'Back', news_types_path %>
