<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>MRTA-PURPLE LINE BANG YAI - BANG SUE SECTION</title>
  <%= stylesheet_link_tag "print", :media=>"print" %>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "screen", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "menu", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "nivo-slider", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "mrta-theme1", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "jquery-ui-1.7.2.custom", :media=>"screen,projection" %>
  <%= javascript_include_tag :defaults %>
  <%= GMap.header(:with_vml => false, :host => request.host).html_safe %>
  <%= @map.to_html.html_safe rescue nil %>
  <%= csrf_meta_tag %>
  <!--[if lt IE 8]><link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body>
<!-- <%= render :partial => 'static/login'%> --> 
<div class="container  maincontainer bluebg">
  <div class="span-24 last" id="header">
     <div id="title">
    	<%if session[:lang]=="en" %>
     	 <%= link_to image_tag("title-en.png",:border=>0,:size=>"340x35")%>
      <%end%>
      <%if session[:lang]=="th" %>
     	 <%= link_to image_tag("title-th.png",:border=>0,:size=>"340x35")%>
      <%end%>   	 
    </div>  
    <div id="fullmap">
       <%= link_to image_tag("map.png", :border=>0, :size=>"30x28",:alt=>"click view full screen map") ,:action => 'fullmap'%>
       <%= link_to image_tag("th.png", :border=>0, :size=>"51x28"), :action => 'setlang', :lang=>"th" %>
       <%= link_to image_tag("en.png", :border=>0, :size=>"36x28"), :action => 'setlang', :lang=>"en" %>

    </div>
    <div class="clear span-24 last" id="">
    	<%if session[:lang]=="en" %>
     	 <%= render :partial => '/static/menu'%>
      <%end%>
      <%if session[:lang]=="th" %>
     	 <%= render :partial => '/static/menu-th'%>
      <%end%> 
 
    </div>
    <!-- end main-navigation -->
  </div>
  <!-- end header -->
  <div class="span-24 page_header last" id="banner">
    <img src="../images/announcebanner.jpg">
  <div class="span-6" id="announcement">
   <div class="contentbox_3">
  <%= render :partial => '/static/leftmenu-announce'%>
   </div> 
  </div>
   <!-- end project_detail --> 
  <div class="span-18 last" id="project_detail">
    <div class="contentbox_2">
        <div class="block">
          <div class="contentblock"
             <div class="inner">
              
               <div id="display">
             	      <%=yield%>
             	 </div>
             </div>
          </div>
        </div>
    </div>
  </div>
  <!-- end project_detail -->

   <!-- end announcement -->
  <div class="span-8" id="project"><div class="contentbox_2a"></div>
  </div>
  <!-- end project -->
  <div class="span-8" id="progress"><div class="contentbox_4a"></div>
  </div>
  <!-- end progress -->
  <div class="span-8 last" id="new_event"><div class="contentbox_3a"></div>
  </div>
  <!-- end new_event -->
  <div  id="movebg" class="span-24 last">
    	<%if session[:lang]=="en" %>
     	 <div class=" "><%= render :partial => '/static/org' %></div>
      <%end%>
      <%if session[:lang]=="th" %>
     	 <div class=" "><%= render :partial => '/static/org-th' %></div>
      <%end%> 
  </div>
  <div class="span-24 last" id="footer">
     <div class="footertext"> &copy;  2010 Mass Rapid Transit Authority of Thailand
     All rights reserved <br/> 
     Webmaster : webmaster@pcpl-th.com<br/>
     Public Relation Division : pr@mrta.co.th
     
     </div>
  </div>
  <!-- end footer -->
</div>
<!-- <%= yield %> -->
</body>
</html>
