<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>MRTA-PURPLE LINE BANG YAI - BANG SUE SECTION</title>
  <%= stylesheet_link_tag "print", :media=>"print" %>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "screen", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "menu", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "nivo-slider", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "mrta-theme1", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "facebox", :media=>"screen,projection" %>  
  <%= stylesheet_link_tag "jquery-ui-1.7.2.custom", :media=>"screen,projection" %>
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tag %>
    <%= GMap.header(:with_vml => false, :host => request.host).html_safe %>
  <%= @map.to_html.html_safe rescue nil %>
  <!--[if lt IE 8]><link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body >
 <div id="faceboxmap" style="width:1900px;height:1200px;">
    <%= yield %> 
 </div>
</body>
</html>
