<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>MRTA-PURPLE LINE BANG YAI - BANG SUE SECTION</title>
  <%= stylesheet_link_tag "print", :media=>"print" %>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "screen", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "menu", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "mrta-theme1", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "jquery-ui-1.7.2.custom", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "map" %>
  <%= stylesheet_link_tag "gmapbox",:media=>"screen,projection" %>
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tag %>
     <%= javascript_include_tag "mapbox" %>
 <%= GMap.header(:with_vml => false, :host => request.host).html_safe %>
  <%= @map.to_html.html_safe rescue nil %>
 <%= javascript_include_tag "labeledmarker"%>

  <!--[if lt IE 8]><link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->

  <script type="text/javascript">
    function mastermap() {
      if (GBrowserIsCompatible()) {
        var mastermap = new GMap2(document.getElementById("mastermap"));
        // Add custom map type     
        var options = {minZoom: 5, maxZoom: 13};   
        var custommap = GMapBox('../images/masterplan', 'masterplan', options);
        mastermap.setCenter(new GLatLng(13.8705,100.479),13);
        mastermap.addMapType(custommap);
        mastermap.setMapType(custommap);
        mastermap.setUIToDefault();
        
        
      }
      else {
        alert("The Google Maps API is not compatible with this browser");
      }
    }
    </script>

  
</head>
<body style="margin:0px;">
<div id="header_upper">
  <div id="inside">
     <div class="home_icon_link">
        <a href="http://mrta-purpleline.com/test">MRTA-Purple Line Project</a>
     </div>
     <!--
     <div class="no_icon_link" style="margin-left: 5px;">
        <a href="#">WEB LIFE</a>
     </div>
     <div class="no_icon_link">
        <a href="#">GADGETS</a>
     </div>
     <div class="no_icon_link">
        <a href="#">SOFTWARE</a>
     </div>
     <div class="no_icon_link">
        <a href="#">STYLE</a>
     </div>
     -->
     <div class="downloads_icon_link" style="margin-left: 90px;">
        <a href="#">STATIONS</a>
     </div>
     <div class="shopping_icon_link">
        <a href="#">NEWS&EVENTS</a>
     </div>
     <div class="support_icon_link">
        <a href="#">ANNOUNCEMENT</a>
     </div>
     <div class="forums_icon_link">
        <a href="#">FORUMS</a>
     </div>
     <p class="toms_links">
       	<A href="#" onclick="mastermap();">Master Plan</A>
       	<A >PCPL</A>
       	<A >OTP</A>
     </P>
 </div>
</div>
<div id="full">
   <%=yield%>
</div>
</body>

</html>
