<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>MRTA-PURPLE LINE BANG YAI - BANG SUE SECTION</title>
  <%= stylesheet_link_tag "print", :media=>"print" %>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "screen", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "menu", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "nivo-slider", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "mrta-theme1", :media=>"screen,projection" %>
  <%= stylesheet_link_tag "jquery-ui-1.7.2.custom", :media=>"screen,projection" %>
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tag %>
  <!--[if lt IE 8]><link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body>
<!-- <%= render :partial => 'static/login'%> --> 
<div class="container  maincontainer bluebg">
  <div class="span-24 last" id="header">
    <div id="fullmap">
       <%= link_to image_tag("map.png", :border=>0, :size=>"25x25"), :action => 'fullmap' %>
       <%= link_to image_tag("th.png", :border=>0, :size=>"25x25"), :action => 'setlang', :lang=>"th" %>
       <%= link_to image_tag("en.png", :border=>0, :size=>"25x25"), :action => 'setlang', :lang=>"en" %>

    </div>
    <div class="clear span-24 last" id="">
     	 <%= render :partial => '/static/menu'%>
 
    </div>
    <!-- end main-navigation -->
  </div>
  <!-- end header -->
  <div class="span-24 page_header last" id="banner">
    <%= render :partial => '/static/subslider'%></div>
    
  <div class="span-6" id="announcement">
   <div class="contentbox_3">
   <%= render :partial => '/static/leftmenu-mrta'%>
   </div> 
  </div>
   <!-- end project_detail --> 
  <div class="span-18 last" id="project_detail">
    <div class="contentbox_2">
        <div class="block">
          <div class="contentblock"
             <div class="inner">
             	 <%=yield%>
             </div>
          </div>
        </div>
    </div>
  </div>
  <!-- end project_detail -->

  <!-- end announcement -->
  <div class="span-8" id="project"><div class="contentbox_2a"></div>
  </div>
  <!-- end project -->
  <div class="span-8" id="progress"><div class="contentbox_4a"></div>
  </div>
  <!-- end progress -->
  <div class="span-8 last" id="new_event"><div class="contentbox_3a"></div>
  </div>
  <!-- end new_event -->
  <div class="span-24 last greenfield">
    <div class="span-12" id="org">
    <div class=" "><%= render :partial => '/static/org' %></div>
    </div>
    <!-- end org -->
    <div class="span-12 last" id="callcenter">
      <div class=""><%= render :partial => '/static/communicate' %></div>
    </div>
    <!-- end callcenter -->
  </div>
  <div class="span-24 last" id="footer">
     <div class="footertext"> &copy;  2010 Mass Rapid Transit Authority of Thailand
     All rights reserved <br/> 
     Webmaster : webmaster@pcpl-th.com<br/>
     Public Relation Division : pr@mrta.co.th
     
     </div>
  </div>
  <!-- end footer -->
</div>
<!-- <%= yield %> -->
</body>
</html>
